<a href="https://colab.research.google.com/github/Rekhareddy11/rekha5E9/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
sum=a+b+c
print(sum)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x="rekha"
type(x)

str

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=10
b=30
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)

addition: 40
subtraction: -20
multiplication: 300
division: 0.3333333333333333

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
x="123"
print(int(x))
print(float(x))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
a="rekha"
print(a[0])

r

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
x="rekhasri"
len(x)

8

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
x="rekha5E9"
print(x.isalpha())

False

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
x="rekha"
y="5E9"
print(x+y)

rekha5E9

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
x="rekhasri"
print(x[0],x[1],x[2])

r e k

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
x="rekhasri"
y=x.upper()
print(y)
z=x.lower()
print(z)

REKHASRI
rekhasri

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
x="rekhasri"
count=x.count('r')
print(count)

2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
x="hello"
y="rekhasri"
z="goodmorning"
print(x,y,z)

hello rekhasri goodmorning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1=input('enter first number:')
num2=input('enter second number:')
sum=float(num1)+float(num2)
print(sum)

enter first number:4
enter second number:6
10.0

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("enter your name:")
age=input("enter your age:")
print(name,age)

enter your name:rekha
enter your age:19
rekha 19

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 7
Positive number

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1=6
num2=7
num3=10
if (num1 >= num2) and (num1 >= num3):
   maximum = num1
elif (num2 >= num1) and (num2 >= num3):
   maximum = num2
else:
   maximum = num3

print("The largest number is", maximum)

The largest number is 10

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = 2000

if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
x=89786

if x/3==0 and x/5==0:

   print("number is divisible by 3,or,5")

else:

   print("number is not divisible by 3 and 5")

number is not divisible by 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
x="mom"

x= x.casefold()

rev_x = reversed(x)

if list(x) == list(x):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
maximum = int(input(" Please Enter the Maximum Value : "))

number = 1

while number <= maximum:
    if(number % 2 == 0):
        print("{0}".format(number))
    number = number + 1

 Please Enter the Maximum Value : 20
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num = 15
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n).

num = 19

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 190

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)

num = 9
factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 9 is 362880

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)

nterms = int(input("How many terms? "))

n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)

else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2

       n1 = n2
       n2 = nth
       count += 1

How many terms? 7
Fibonacci sequence:
0
1
1
2
3
5
8

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.


a= 1
b= 100

print("Prime numbers between", a, "and", b, "are:")

for num in range(a, b + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for i in range(50):
    print(i)
    if i == 45:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for number in range(1, 21):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

user_string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")


count = 0

for char in user_string:
    if char == char_to_count:
        count += 1
print(f"The character '{char_to_count}' appears {count} time(s) in the string.")

Enter a string: Rekhasri
Enter the character to count: a
The character 'a' appears 1 time(s) in the string.

In [ ]:
# write a Python program to calculate the sum of digits of a number. (User input for the number)
n=56

sum=0

for digit in str(n):
    sum=sum+int(digit)

print("Sum of digits",sum)

Sum of digits 11

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
arr = [1, 2, 3, 4, 5, 6];
sum = 0;
for i in range(0, len(arr)):
   sum = sum + arr[i];
print("Sum of all the elements of an array: " + str(sum));

Sum of all the elements of an array: 21

In [ ]:
# Write a Python program to find the largest element in a list.
arr = [25, 11, 7, 75, 56];
max = arr[0];
for i in range(0, len(arr)):
   if(arr[i] > max):
       max = arr[i];

print("Largest element present in given array: " + str(max));

Largest element present in given array: 75

In [ ]:
# Write a Python program to reverse a list.
x=[15,23,45,89]
x.reverse()
print("reversed list:",x)

reversed list: [89, 45, 23, 15]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
list = [10, 20, 10, 30, 10, 40, 10]
n = 10
print ("Original list:")
print (list)
for x in list:
    if x == n:
        list.remove(x)
print ("list after removing elements:")
print (list)

Original list:
[10, 20, 10, 30, 10, 40, 10]
list after removing elements:
[20, 30, 40]

In [ ]:
# Write a Python program to find the index of an element in a list.
y=['12','54','76','98','87']
index=y.index('12')
print(index)

0

In [ ]:
# Write a Python program to find if a specific element exists in a list.
things=['chair','door','wardobe']
y=things[0]
print(y)

chair

In [ ]:
# Write a Python program to remove duplicates from a list.
list_1 = [1, 2, 1, 4, 6]

print(set(list_1))

{1, 2, 4, 6}

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
freq = ['a', '1', 'b', '4', 'b', '2', 'a'].count('b')
print(freq)

2

In [ ]:
# Write a Python program to get the number of even numbers in a list.
list1 =[6,8,9,6,4,3,0]
even_count, odd_count = 0, 0
for num in list1:
    if num % 2 == 0:
        even_count += 1
print("Even numbers in the list: ", even_count)

Even numbers in the list:  5

In [ ]:
# Write a Python program to create a tuple and print it.
tuple=(1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [1]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (1,2,3,4,5)
print("Original Tuple:",my_tuple)
my_list = list(my_tuple)
print("Tuple converted to List:", my_list)
my_tuple_again = (my_list)
print("List converted back to Tuple:", my_tuple_again)

Original Tuple: (1, 2, 3, 4, 5)
Tuple converted to List: [1, 2, 3, 4, 5]
List converted back to Tuple: [1, 2, 3, 4, 5]

In [2]:
# Write a Python program to find the maximum and minimum values in a tuple.
tuple = (1,2,3,4,5,6,7,8,9,10)
maximum = max(tuple)
minimum = min(tuple)
print("Minimum of the tuple:", min(tuple))
print("Maximum of the tuple:", max(tuple))

Minimum of the tuple: 1
Maximum of the tuple: 10

In [3]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (1,2,3)
a,b,c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [4]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1,2,3,4,5}
my_set.add(6)
print(my_set)
element = 3
if element in my_set:
    print(f"{element} exists in the set.")

{1, 2, 3, 4, 5, 6}
3 exists in the set.

In [5]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [6]:
# Write a Python program to access a dictionary value using a key.
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict['a']
print(value)

1

In [7]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
key = 'b'
if key in my_dict:
    print(f"The key '{key}' exists in the dictionary.")

The key 'b' exists in the dictionary.

In [8]:
# Write a Python program to merge two dictionaries.
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'d': 4, 'e': 5, 'f': 6}
print("Dictionary 1:", dict1)
print("Dictionary 2:", dict2)
dict1.update(dict2)
print("Merged Dictionary:", dict1)

Dictionary 1: {'a': 1, 'b': 2, 'c': 3}
Dictionary 2: {'d': 4, 'e': 5, 'f': 6}
Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [9]:
# Write a Python program to remove a key from a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['a']
print(my_dict)

{'b': 2, 'c': 3}

In [10]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
num_keys = len(my_dict)
print(num_keys)

3

In [12]:
# Write a Python program to find the largest and smallest values in a dictionary.
dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
print("Original Dictionary:", dict)
largest_value = max(dict.values())
smallest_value = min(dict.values())
print("Largest Value:", largest_value)
print("Smallest Value:", smallest_value)

Original Dictionary: {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
Largest Value: 50
Smallest Value: 10

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [21]:
# Write a Python function that returns the square of a number.
n=int(input("enter a number:"))
pow(n,2)

enter a number:9

81

In [26]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(num1, num2):
    sum_result = num1 + num2
    return sum_result
number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))
result = add_numbers(number1, number2)
print(f"The sum of {number1} and {number2} is: {result}")

Enter the first number: 8
Enter the second number: 9
The sum of 8.0 and 9.0 is: 17.0

In [33]:
# Write a Python function to check if a given number is prime.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

print(is_prime(7))
print(is_prime(11))

True
True

In [36]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
	if (n==1 or n==0):
		return 1
	else:
		return (n * factorial(n - 1))
num = n=int(input("enter a number:"))
print("Factorial : ",factorial(num))

enter a number:8
Factorial :  40320

In [39]:
# Write a Python function to calculate the power of a number using recursion.
def power(N, P):
	if P == 0:
		return 1
	return (N*power(N, P-1))
if __name__ == '__main__':
	N =int(input("enter a number:"))
	P =2
	print(power(N, P))

enter a number:4
16

In [44]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
string="rekhasri"
count = 0
for i in string:
    count+=1
print(count)

8

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`